<!doctype html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Halo Decompilation Project">
	<meta property="og:description" content="An open-source project to study and re-implement the iconic Xbox launch title Halo: Combat Evolved">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@400&family=Roboto&display=swap" rel="stylesheet">
	<title>Halo Decompilation Project</title>
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/all.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/brands.min.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/extra.css">
  </head>
  <body>

<main role="main">

<div class="jumbotron d-flex align-items-center min-vh-100">
	<div id="bg-scene"></div>
	<div class="container project-info py-5">
		<div class="row">
			<div class="mx-auto text-center">
				<h1 class="display-5 logo-text">Halo Decompilation Project</h1>
				<p>Project to study and re-implement the iconic Xbox launch title <a href="https://en.wikipedia.org/wiki/Halo:_Combat_Evolved">Halo:&nbsp;Combat&nbsp;Evolved</a></p>
				<a class="btn btn-primary btn-lg m-1" role="button" href="https://github.com/mborgerson/halo"><i class="github-icon" aria-hidden="true"></i>View on GitHub</a>
				<a class="btn btn-secondary btn-lg m-1" role="button" href="/progress">Progress Report</a>
			</div>
		  </div>
		</div>
	<div class="disclaimer text-center text-small mx-auto mb-5">
		Project not affiliated with Microsoft or Bungie.
		For research and educational purposes only.<br />
		Buy a copy of the game. <a href="https://www.youtube.com/watch?v=p08mIRKB-Yg">Heck, buy two!</a>
	</div>
</div>

</main>

<script src="{{ .Site.BaseURL }}js/three.min.js"></script>
<script src="{{ .Site.BaseURL }}js/GLTFLoader.js"></script>
<script type="text/javascript">
var canvas = document.querySelector('#bg-scene');
var scene = new THREE.Scene();
var camera = new THREE.PerspectiveCamera(74, canvas.offsetWidth/canvas.offsetHeight, 0.1, 1000);
var renderer = new THREE.WebGLRenderer({ antialias: true });
renderer.setSize( canvas.offsetWidth, canvas.offsetHeight );
renderer.setPixelRatio( window.devicePixelRatio );
canvas.appendChild( renderer.domElement );
scene.background = new THREE.Color('#202020');
primary_color = new THREE.Color(0.372, 0.733, 0.949);

let ring_object = null;
const loader = new THREE.GLTFLoader();
loader.load( '{{ .Site.BaseURL }}data/ring.glb', function ( gltf ) {
	ring_object = gltf.scene;
	const outline_rib = ring_object.getObjectByName('outline-rib')
	if (outline_rib) {
		outline_rib.material = new THREE.MeshBasicMaterial({ color: primary_color });
	}
	const outline_ring = ring_object.getObjectByName('outline-ring')
	if (outline_ring) {
		outline_ring.material = new THREE.MeshBasicMaterial({ color: primary_color });
	}
	const inner = ring_object.getObjectByName('ring-inner');
	if (inner) {
		inner.material = new THREE.MeshStandardMaterial({ color: primary_color, side: THREE.DoubleSide, transparent: true, opacity: 0.8 });
	}
	const outer = ring_object.getObjectByName('ring-outer');
	if (outer) {
		outer.material = new THREE.MeshStandardMaterial({ color: primary_color, side: THREE.DoubleSide, transparent: true, opacity: 0.8 });
	}
	scene.add(ring_object);
}, undefined, function ( error ) {
	console.error( error );
} );
// {
// 		scene.add( new THREE.Line(
// 			new THREE.BufferGeometry().setFromPoints([
// 				new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 1000, 0, 0 )
// 				]),
// 			new THREE.LineBasicMaterial({ color: 'red' })));
// 		scene.add( new THREE.Line(
// 			new THREE.BufferGeometry().setFromPoints([
// 				new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 1000, 0 )
// 				]),
// 			new THREE.LineBasicMaterial({ color: 'green' })));
// 		scene.add( new THREE.Line(
// 			new THREE.BufferGeometry().setFromPoints([
// 				new THREE.Vector3( 0, 0, 0 ), new THREE.Vector3( 0, 0, 1000 )
// 				]),
// 			new THREE.LineBasicMaterial({ color: 'blue' })));
// }
{
	let directional = new THREE.DirectionalLight(primary_color, 0.8);
	directional.position.set(0, -1, 0);
	scene.add(directional);
	const ambient = new THREE.AmbientLight(primary_color, 0.1);
	scene.add(ambient);
}

var cam = Math.floor(Math.random()*5);
if (cam == 0) { // Off-center right
	camera.position.x = 2;
	camera.position.y = -17;
	camera.position.z = 5;
	camera.lookAt(0, -15, 0);
} else if (cam == 1) { // Center
	camera.position.x = 0;
	camera.position.y = -17.5;
	camera.position.z = -6;
	camera.lookAt(0, -5, -20);
} else if (cam == 2) { // Off-center left
	camera.position.x = 10;
	camera.position.y = -18;
	camera.position.z = -5;
	camera.lookAt(0, 10, 30);
} else if (cam == 3) { // Upper-right
	camera.position.x = 20;
	camera.position.y = 20;
	camera.position.z = 20;
	camera.lookAt(0, 0, 0);
} else if (cam == 4) { // Main Menu style
	camera.position.x = 2;
	camera.position.y = -16;
	camera.position.z = 12;
	camera.lookAt(1, -13, 0);
}

var clock = new THREE.Clock();
var render = function () {
	requestAnimationFrame( render );
	var t = clock.getElapsedTime();
	if (ring_object) {
		ring_object.rotation.x = t / 30;
	}
	renderer.render(scene, camera);
};

render();

window.addEventListener('resize', function(){
	camera.aspect = canvas.offsetWidth/canvas.offsetHeight;
	camera.updateProjectionMatrix();
	renderer.setSize(canvas.offsetWidth, canvas.offsetHeight);
  }, false);
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XLVWSLM62C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XLVWSLM62C');
</script>

</body>
</html>
