on:
  push:
    branches-ignore:
      - website
      - gh-pages
  pull_request:
    branches-ignore:
      - website
      - gh-pages

jobs:
  BuildUbuntu:
    name: Build on Ubuntu with clang
    runs-on: ubuntu-latest
    steps:
      - name: Clone Tree
        uses: actions/checkout@v3

      - name: Build container image
        run: |
          docker build -t halo .

      - name: Build
        run: |
          docker run --rm  -u $(id -u):$(id -g) -v $PWD:/work -w /work halo /bin/bash -c "cmake -Bbuild -S. -DCMAKE_C_COMPILER=clang && cmake --build build --target halo"

  BuildWindows:
    name: Build on Windows with MSVC
    runs-on: windows-latest
    steps:
      - name: Clone Tree
        uses: actions/checkout@v3

      - name: Build
        run: |
          pip install -r requirements.txt
          cmake -AWin32 -Bbuild -S.
          cmake --build build --target halo
